// ==================================================
// VARIABLES
// Overwrites the default bootstrap variables
// and adds new ones

@import "base/base";
@import "base/variables";

// ==================================================
// BOOTSTRAP

// Import whole bootstrap project
@import "../../vendor/twbs/bootstrap/scss/bootstrap";

// Import bootstrap grid
// @import "../../vendor/twbs/bootstrap/scss/bootstrap-grid";

// Import bootstrap reboot
// @import "../../vendor/twbs/bootstrap/scss/bootstrap-reboot";

// ==================================================
// PROJECT
// Components

@import "components/custom-example";