/*
@styleguide

# Grid Overlay

This class can be used to add borders to columns. They will also be positioned fixed and behind the content.
If you just want to use it as is, copy & paste the following code into your main template file.

**Variation:**
Use *.grid-overlay--background* to add a transparent background color to columns.

```
<div class="grid-overlay">
    <div class="container"> <!-- Use .container-fluid to get a full-width underlay -->
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</div>

<div class="grid-overlay grid-overlay--background"></div>
```

*/

.grid-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: -2px;
    bottom: -2px;
    z-index: 100;
    pointer-events: none;

    div[class^=col-] {
        border: 1px solid $brand-primary;
        height: 100vh;
    }

    &.grid-overlay--background div[class^=col-] {
        background-color: rgba($brand-info, 0.3);
    }
}